<?xml version="1.0" encoding="UTF-8"?>
!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation testing">
<listeners>
		<listener class-name="com.qa.utility.ExtentReport"></listener>
	</listeners>
  <test name="functional testing" parallel="classes">
		
	
	<parameter name="Browser" value="chrome"> </parameter>
	<parameter  name="url"  value="https://www.spotify.com/in-en/free/"> </parameter>
  
    <classes>
      <class name="com.qa.scripts.TC_SpotifyPage_01"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite --